<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">

    <h1>{{trips.title}}</h1>

    <form class="form" id="tripForm" ng-submit="trips.createTrip()">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" ng-model="trips.trip.name">
      </div>

      <div class="form-group">
        <label for="startpoint">Start point</label>
        <input class="form-control" id="startpoint" name="startpoint" ng-model="trips.trip.startpoint" placeholder="Start point"></input>
      </div>

      <div class="form-group">
        <label for="endpoint">End point</label>
        <input type="text" class="form-control" id="endpoint" name="endpoint" placeholder="End point" ng-model="trips.trip.endpoint">
      </div>

      <a href="#" class="btn btn-primary" ng-show="trips.trip" ng-click="trips.addStop" ui-sref="addStop">Add stop</a>
      <input type="submit" value="Save" id="submit" class="btn btn-primary">
    </form>
  </div>
  <!-- /#sidebar-wrapper -->
</div>
<!-- /#wrapper -->  




