<div class="container-fluid">
  <div class="row">
    <div id="sidebar-container" class="col-sm-3 sidebar">
      <div id="sidebar-navs">
        <ul class="nav navbar-nav navbar-left">
          <li ng-show="users.checkLoggedIn()">
            <a href="#" ng-click="trips.getTrips()" ui-sref="viewTrips">View trips</a>
          </li>
        </ul> 
        <ul class="nav navbar-nav navbar-left">
          <li ng-show="users.checkLoggedIn()">
            <a href="#" ng-click="trips.showCreateTripForm()" ui-sref="newTrip">New trip</a>
          </li>
        </ul>
      </div>

      <div class="sidebar-content">
        <h4 class="media-heading">{{ trips.trip.name }}</h4>
        <p>From: {{ trips.trip.startpoint.name }}</p>
        <p>To: {{ trips.trip.endpoint.name }}</p>
        <a href="#" class="btn btn-primary" ng-click="trips.editTrip(trips.trip)" ui-sref="editTrip">Edit</a>
        <input type="submit" value="Delete" id="submit" class="btn btn-primary" ng-click="trips.deleteTrip(trips.trip)">
      </div>       
    </div>

    <div class="col-sm-9">

      <ui-gmap-polyline ng-repeat="p in trips.polylines track by $index" path="p.path" stroke="p.stroke" visible='p.visible' geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>

      </ui-gmap-google-map>
    <!-- <div id="map">
      
    </div> -->
    </div>
  </div>
</div>

