<div class="container-fluid">
  <div class="row">
    <div id="sidebar-container" class="col-sm-3 sidebar">
      <ul class="nav navbar-nav navbar-left">
        <li ng-show="users.checkLoggedIn()">
          <a href="#" ng-click="trips.getTrips()" ui-sref="viewTrips">View trips</a>
        </li>
      </ul> 
      <ul class="nav navbar-nav navbar-left">
        <li ng-show="users.checkLoggedIn()">
          <a href="#" ng-click="trips.showCreateTripForm()" ui-sref="newTrip">New trip</a>
        </li>
      </ul>

      <div class="sidebar-content">
        <form class="form" id="tripForm" ng-submit="trips.createTrip()">
          <div id="startpoint-input">
            
          </div>
          <div id="endpoint-input">
            
          </div>
          <div id="mode-container">
            <div class="mode-selector">
              <input type="radio" name="type" id="changemode-walking" checked="checked">
              <label for="changemode-walking">Walking</label>
            </div>
            <div class="mode-selector">
              <input type="radio" name="type" id="changemode-transit">
              <label for="changemode-transit">Transit</label>
            </div>
            <div class="mode-selector"> 
              <input type="radio" name="type" id="changemode-driving">
              <label for="changemode-driving">Driving</label>
            </div>
          </div>

          <input type="submit" value="Save" id="submit" class="save-button">
        </form>
      </div>   
      
    </div>
    <div class="col-sm-9">
      <ui-gmap-google-map center='trips.map.center' zoom='trips.map.zoom'>
        <ui-gmap-search-box template="trips.startpointSearchbox.template" events="trips.startpointSearchbox.events" parentdiv="trips.startpointSearchbox.parentdiv"></ui-gmap-search-box>
        
        <ui-gmap-search-box template="trips.endpointSearchbox.template" events="trips.endpointSearchbox.events" parentdiv="trips.endpointSearchbox.parentdiv"></ui-gmap-search-box>

      </ui-gmap-google-map>
      <!-- <div id="map">
        
      </div> -->
    </div>
  </div>
</div>

