body {
    margin-top: 20px;
}

div.homepage {

  width: 100% !important;
  height: 700px !important;
  background-image: url("/images/roadTrip-2.jpg");
  background-size: cover;

}

div.homepage-inner {

  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.2);

}

div.homepage div#welcome {

  position: relative;
  top: 50%;
  transform: translateY(-50%);

}
div.homepage div#welcome h1 {

  color: white !important;

}

#welcome {
  font-size: 48px;
}

.container {
  padding: 0px !important;
  height: 100%;
}

.form-content {
  color: white;
  padding: 40px;
  background-color: rgba(0,0,0,0.5);
}

.form-head {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 400 !important;
}

.form-control {
  border-radius: 0px;
  height: 50px;
}

.form-button {
  font-size: 22px;
  border-radius: 0px;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #43B943;
  border: none;
}

.alert-danger {
  font-size: 18px;
  border-radius: 0px;
  border: none;
  background-color: #B9A543;
}

a {
  color: grey;
}

.media-object {
  max-width: 60px;
}

.angular-google-map {
  height: 100%;
}

.notActive {
	pointer-events: none;
	cursor: default;
}

.main-link {
  text-decoration: none !important;
}

.media-list, .stopover-display {
  text-decoration: none !important;
}

.media-body:hover {
  border-color: #4d90fe;
}

.trip-name {
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  margin: 0px;
}

.trip-name-head {
  font-size: 30px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid grey;
}

.trip-point, .stopover-name {
  margin: 0px 5px 0px 0px;
  display: inline;
}

.big-trip-start-container {
  margin: 20px 0px 10px 0px;
}

.big-trip-end-container {
  margin: 10px 0px 10px 0px;
}

#route-head {
  margin: 20px 0px 10px 0px;
}

.trip-icon {
  margin-top: 3px;
  vertical-align: top;
  height: 20px;
  width: 20px;
}

.trip-arrow-icon {
  margin-top: 3px;
  vertical-align: top;
  height: 25px;
  width: 25px
}

.route-icon {
  margin-top: 3px;
  vertical-align: top;
  height: 15px;
  width: 15px;
}

.trip-flag-container {
  display: inline;
  margin-right: 5px;
}

.trip-start-container {
  display: inline;
}

.trip-end-container {
  display: block;
}

.route-arrow-container, .trip-arrow-container {
  display: inline;
}

.route-flag-container {
  display: inline;
  margin-right: 5px;
}

.info-tag {
  display: inline;
/*  margin-left: 10px;
*/}

.from-to {
  margin-top: 0px;
}

.point-label {
  margin-top: 10px;
}

.point-tag {
  display: inline;
}

a.btn.btn-primary {
  margin-right: 10px;
  width: 80px;
}

#edit-trip-name {
  display: block !important;
  text-align: left !important;
  font-size: 18px;
  margin-bottom: 5px;
  border-bottom: 1px solid grey;
}

.tripWell {
    cursor: pointer;
    display: block;
    margin-top: 20px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid grey;
}

#trip-main {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

#trip-info {
  margin-top: 10px;
  margin-bottom: 15px;
}

.stopover-name {
  margin: 5px 0px 10px 0px;
}

#stopover-list {
  list-style: none;
  padding-left: 0px;
}

.stopover-display {
  margin-bottom: 10px;
}

.stopover-route, .tripPoint {
  margin: 10px 0px 5px 0px;
  display: inline;
}

.input-buttons {
  padding-bottom: 10px;
}

.navbar {
	margin-bottom: 0px;
}

#map {
    height: 400px;
    width: 100%;
    float: right;
}

.angular-google-map-container { 
    height: 650px; 
}

#sidebar-container {
    padding: 0px 0px 20px 0px !important;
}

#sidebar-navs {
  display: block;
  height: 50px;
}

.sidebar-content {
    clear: left;
    margin-left: 15px !important;
    margin-right: 15px;
    height: 600px;
    overflow: scroll;
}

.navbar-nav {
    float: left !important;
}

.nav-links {
    position: relative;
    display: block;
    padding: 10px 15px 10px 0px !important;;
    list-style: none;
    cursor: pointer;
}

#user-links-container {
    background-color: white;
    position: absolute;
    padding: 10px;
    list-style: none;
    top: 30px; 
    right: 50px;
    z-index: 1000;
}

#user-links-container>li {
    display: inline;
    padding: 10px; 
}

.controls {
    display: block;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid grey;
    height: 32px;
    outline: none;
}

#startpoint-input,
#endpoint-input, 
#stopover-input,
#trip-name-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  width: 100% !important;
  text-overflow: ellipsis;
  background-size: 20px 20px;
  background-position: top 5px;
  background-repeat: no-repeat;
  text-indent: 30px;
}

#trip-name-input {
  background-image: url(../images/png/grey-map.png);
}

#startpoint-input {
  background-image: url(../images/png/green-pin.png);
}

#endpoint-input {
  background-image: url(../images/png/red-pin.png);
}

#stopover-input {
  background-image: url(../images/png/orange-pin.png);
}

#startpoint-input:focus,
#endpoint-input:focus, 
#stopover-input:focus,
#trip-name-input:focus {
  border-color: #4d90fe;
}

div.col-sm-9 {
  padding: 0px;
}

#mode-container {
    margin-top: 20px;
}

.mode-selector {
  color: black;
}

.mode-selector label {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 10px;
}

.save-button, 
.edit-button, 
.delete-button,
.stopover-button {
    margin-top: 20px;
    width: 100%;
    height: 32px;
    color: white;
    border: none;
    display: block;
}

.stopover-button {
  background-color: #FF5656;
}

.save-button {
  background-color: #43B943;
}

.edit-button {
  background-color: #A7C8FD;
  text-align: center;
  padding: 6px 6px;
}

.delete-button {
  background-color: #FF5656;
  text-align: center;
  padding: 6px 6px;
}

.edit-button:hover, 
.delete-button:hover {
  text-decoration:none; 
  cursor:pointer;
  color: white; 
}