<div>
  <div class="container-fluid">
    <div class="row">
      <div id="sidebar-container" class="col-sm-3 sidebar">
        <ul class="nav navbar-nav navbar-left">
          <li ng-show="users.checkLoggedIn()">
            <a href="#" ng-click="trips.getTrips()" ui-sref="viewTrips">View trips</a>
          </li>
        </ul> 
        <ul class="nav navbar-nav navbar-left">
          <li ng-show="users.checkLoggedIn()">
            <a href="#" ng-click="trips.showCreateTripForm()" ui-sref="newTrip">New trip</a>
          </li>
        </ul>

        <div class="sidebar-content">
          
            <h2 class="trip-name-head">{{ trips.trip.name }} trip</h2>
          
          <form class="form" id="tripForm" ng-submit="trips.updateTrip()">
            <div id="startpoint-input">
              
            </div>
            <div id="endpoint-input">
              
            </div>
            <div id="stopover-input">
              
            </div>

            <input type="submit" value="Save" id="submit" class="save-button">
          </form>
        </div>   
        
      </div>
      <div class="col-sm-9">
        <ui-gmap-google-map center='trips.map.center' zoom='trips.map.zoom'>
          <!-- look for configuration (template, events and parentdiv) defined in tripsController -->
          <ui-gmap-search-box template="trips.startpointSearchbox.template" events="trips.startpointSearchbox.events" parentdiv="trips.startpointSearchbox.parentdiv"></ui-gmap-search-box>
          
          <ui-gmap-search-box template="trips.endpointSearchbox.template" events="trips.endpointSearchbox.events" parentdiv="trips.endpointSearchbox.parentdiv"></ui-gmap-search-box>

          <ui-gmap-search-box template="trips.stopoverSearchbox.template" events="trips.stopoverSearchbox.events" parentdiv="trips.stopoverSearchbox.parentdiv"></ui-gmap-search-box>

          <ui-gmap-search-box template="trips.stopoverSearchbox.template" events="trips.stopoverSearchbox.events" parentdiv="trips.stopoverSearchbox.parentdiv"></ui-gmap-search-box>

          <ui-gmap-search-box template="trips.stopoverSearchbox.template" events="trips.stopoverSearchbox.events" parentdiv="trips.stopoverSearchbox.parentdiv"></ui-gmap-search-box>

          <ui-gmap-search-box template="trips.stopoverSearchbox.template" events="trips.stopoverSearchbox.events" parentdiv="trips.stopoverSearchbox.parentdiv"></ui-gmap-search-box>

          <ui-gmap-markers models="trips.markers" coords="'self'" icon="'icon'"></ui-gmap-markers>

          <ui-gmap-polyline ng-repeat="p in trips.polylines track by $index" path="p.path" stroke="p.stroke" visible='p.visible' geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>

        </ui-gmap-google-map>
        <!-- <div id="map">
          
        </div> -->
      </div>
    </div>
  </div>
</div>