<div>
  <div class="container-fluid">
    <div class="row">
      <div id="sidebar-container" class="col-sm-3 sidebar">
        <ul class="nav navbar-nav navbar-left">
          <li ng-show="users.checkLoggedIn()">
            <a href="#" ng-click="trips.getTrips()" ui-sref="viewTrips">View trips</a>
          </li>
        </ul> 
        <ul class="nav navbar-nav navbar-left">
          <li ng-show="users.checkLoggedIn()">
            <a href="#" ng-click="trips.showCreateTripForm()" ui-sref="newTrip">New trip</a>
          </li>
        </ul>

        <div class="sidebar-content">
          <div id="tripWell">
            <div id="trip-main">
              <h2 class="trip-name-head">{{ trips.trip.name }}</h2>
              <div class="big-trip-start-container">
                <div class="trip-flag-container">
                  <img class="trip-icon" src="../images/png/green-pin.png">
                </div>
                <h3 class="trip-point">{{ trips.trip.startpoint.name }}</h3>
                <div class="trip-arrow-container">
                  <img class="trip-arrow-icon" src="../images/png/long-arrow.png">
                </div>
              </div>
              <div class="big-trip-end-container">
                <div class="trip-flag-container">
                  <img class="trip-icon" src="../images/png/red-pin.png">
                </div>
                <h3 class="trip-point">{{ trips.trip.endpoint.name }}</h3>
              </div>
            </div>
          </div>   
          
          <form class="form" id="tripForm" ng-submit="trips.updateTrip()">
            <div id="stopover-input"></div>
            <input type="submit" value="Save" id="submit" class="save-button">
          </form>
        </div>   
        
      </div>
      <div class="col-sm-9">
        <ui-gmap-google-map center='trips.route_map.center' zoom='trips.route_map.zoom' bounds='trips.route_map.bounds'>
          
        <ui-gmap-search-box template="trips.stopoverSearchbox.template" events="trips.stopoverSearchbox.events" parentdiv="trips.stopoverSearchbox.parentdiv"></ui-gmap-search-box>

        <ui-gmap-search-box template="trips.stopoverSearchbox.template" events="trips.stopoverSearchbox.events" parentdiv="trips.stopoverSearchbox.parentdiv"></ui-gmap-search-box>

        <ui-gmap-search-box template="trips.stopoverSearchbox.template" events="trips.stopoverSearchbox.events" parentdiv="trips.stopoverSearchbox.parentdiv"></ui-gmap-search-box>

        <ui-gmap-search-box template="trips.stopoverSearchbox.template" events="trips.stopoverSearchbox.events" parentdiv="trips.stopoverSearchbox.parentdiv"></ui-gmap-search-box>

        <ui-gmap-markers models="trips.markers" coords="'self'" icon="'icon'"></ui-gmap-markers>

        <ui-gmap-polyline ng-repeat="p in trips.polyline track by $index" path="p.path" stroke="p.stroke" visible='p.visible' geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>

        </ui-gmap-google-map>
        <!-- <div id="map">
          
        </div> -->
      </div>
    </div>
  </div>
</div>