<!-- <div class="container-fluid">
  <div class="row">
    <div id="sidebar-container" class="col-sm-3 sidebar">
      <div class="sidebar-content">
              
    	</div>
    </div>
  	<div class="col-sm-9">
  		<div id="image-display">

  		</div>
  	</div>
	</div>
</div>

 -->
 <div class="homepage">
    <div class="homepage-inner">
        <div class="row" id="welcome">

            <div class="col-sm-5 col-sm-offset-1">
                <a class="main-link" href="#" ui-sref="viewTrips">
                	<h1 id="welcome">Getcha <br> motor <br> runnin'</h1>
                </a>
            </div>

        </div>
    </div>
</div>


