<div>
  <div class="container-fluid">
    <div class="row">
      <div id="sidebar-container" class="col-sm-3 sidebar">
        <div id="sidebar-navs">
          <ul class="nav navbar-nav navbar-left">
            <li ng-show="users.checkLoggedIn()">
              <a href="#" ng-click="trips.getTrips()" ui-sref="viewTrips">View trips</a>
            </li>
          </ul> 
          <ul class="nav navbar-nav navbar-left">
            <li ng-show="users.checkLoggedIn()">
              <a href="#" ng-click="trips.showCreateTripForm()" ui-sref="newTrip">New trip</a>
            </li>
          </ul>
        </div>

        <div class="sidebar-content">
          <div id="tripWell">
            <div id="trip-main">
              <h2 class="singleTrip-name">{{ trips.trip.name }}</h6>
              <p class="point-label">From</p>
              <h3 class="trip-point">{{ trips.trip.startpoint.name }}</h3>
              <p class="point-label">To</p>
              <h3 class="trip-point">{{ trips.trip.endpoint.name }}</h3>
              <!-- <p class="point-label">Via</p>
              <h3 class="trip-point">{{ trips.trip.stopovers[0].name }}</h3>
               -->
               <div id="trip-info">
                <div class="from-to">
  <!--                 <img class="icon" src="../images/png/clock.png">
   -->                <p class="info-tag"> {{ trips.distance_for_display }} kilometres</p><br>
                </div>
                <div class="from-to">
  <!--                 <img class="icon" src="../images/png/other.png">
   -->                <p class="info-tag"> {{ trips.hours }} hours, {{ trips.minutes }} minutes</p>
                </div>
              </div>
            </div>  
            <ul id="stopover-list">
              <li class="stopover-display" ng-repeat="stop in trips.routeArray">
                <p class="tripPoint">{{ stop.start_address }} to {{ stop.end_address }}</p>
                <p class="tripPoint">{{ stop.distance.text }}</p>
                <p class="tripPoint">{{ stop.duration.text }}</p>
              </li>
            </ul>  
            <div class="input-buttons">
              <a href="#" class="edit-button" ng-click="trips.editTrip(trips.trip)" ui-sref="editTrip">Edit</a>
              <a href="#" class="delete-button" ng-click="trips.deleteTrip(trips.trip)">Delete</a>
            </div>
          </div>
        </div>       
      </div>

      <div class="col-sm-9">

        <ui-gmap-google-map center='trips.map.center' zoom='trips.map.zoom'>
          <!-- look for configuration (template, events and parentdiv) defined in tripsController -->
          <ui-gmap-search-box template="trips.startpointSearchbox.template" events="trips.startpointSearchbox.events" parentdiv="trips.startpointSearchbox.parentdiv"></ui-gmap-search-box>
          
          <ui-gmap-search-box template="trips.endpointSearchbox.template" events="trips.endpointSearchbox.events" parentdiv="trips.endpointSearchbox.parentdiv"></ui-gmap-search-box>

          <ui-gmap-markers models="trips.markers" coords="'self'" icon="'icon'"></ui-gmap-markers>

          <ui-gmap-polyline ng-repeat="p in trips.polylines track by $index" path="p.path" stroke="p.stroke" visible='p.visible' geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>

        </ui-gmap-google-map>

      <!-- <div id="map">
        
      </div> -->
      </div>
    </div>
  </div>
</div>

