<div>
  <div class="container-fluid">
    <div class="row">
      <div id="sidebar-container" class="col-sm-3 sidebar">
        <div id="sidebar-navs">
          <ul class="nav navbar-nav navbar-left">
            <li ng-show="users.checkLoggedIn()">
              <a href="#" ng-click="trips.getTrips()" ui-sref="viewTrips">View trips</a>
            </li>
          </ul> 
          <ul class="nav navbar-nav navbar-left">
            <li ng-show="users.checkLoggedIn()">
              <a href="#" ng-click="trips.showCreateTripForm()" ui-sref="newTrip">New trip</a>
            </li>
          </ul>
        </div>

        <div class="sidebar-content">
          <div id="tripWell">
            <div id="trip-main">
              <h2 class="trip-name-head">{{ trips.trip.name }}</h6>
              <div class="big-trip-start-container">
                <div class="trip-flag-container">
                  <img class="trip-icon" src="../images/png/green-pin.png">
                </div>
                <h3 class="trip-point">{{ trips.trip.startpoint.name }}</h3>
                <div class="trip-arrow-container">
                  <img class="trip-arrow-icon" src="../images/png/long-arrow.png">
                </div>
              </div>
              <div class="big-trip-end-container">
                <div class="trip-flag-container">
                  <img class="trip-icon" src="../images/png/red-pin.png">
                </div>
                <h3 class="trip-point">{{ trips.trip.endpoint.name }}</h3>
              </div>
              <p class="point-label">via</p>
              <div ng-repeat="stop in trips.stopover_name_array">
              <div class="route-flag-container">
                <img class="route-icon" src="../images/png/orange-pin.png">
              </div>  
                <p class="stopover-name">{{ stop }}</p>
              </div>
               <div id="trip-info">
                <div class="from-to">
                  <p class="info-tag"> {{ trips.distance_for_display }} kilometres</p><br>
                </div>
                <div class="from-to">
                  <p class="info-tag"> {{ trips.hours }}hrs {{ trips.minutes }}mins</p>
                </div>
              </div> 
            </div>
            <div class="input-buttons">
              <a href="#" class="details-button" ng-click="show=!show">Route</a>
            </div>
            <ul id="stopover-list" ng-class="{ hidden: !show, revealed: show }">
              <li class="stopover-display" ng-repeat="stop in trips.routeArray">
              <div class="route-flag-container">
                <img class="route-icon" src="../images/png/pink-pin.png">
              </div>  
                 <!-- <h5 class="stopover-route">{{ stop.start_address }} to {{ stop.end_address }}</h5> -->
                 <h5 class="stopover-route">{{ stop.start_address }}</h5> 
                 <div class="route-arrow-container">
                   <img class="route-icon" src="../images/png/long-arrow.png">
                 </div> 
                 <h5 class="stopover-route">{{ stop.end_address }}</h5>
                <p class="stopover-distance">{{ stop.distance.text }}</p>
                <p class="stopover-duration">{{ stop.duration.text }}</p>
              </li>
            </ul>
            <div class="input-buttons">
              <a href="#" class="edit-button" ng-click="trips.editTrip(trips.trip)" ui-sref="editTrip">Edit</a>
              <a href="#" class="delete-button" ng-click="trips.deleteTrip(trips.trip)">Delete</a>
            </div>
          </div>
        </div>       
      </div>

      <div class="col-sm-9">

        <ui-gmap-google-map center='trips.route_map.center' zoom='trips.route_map.zoom'>
          <!-- look for configuration (template, events and parentdiv) defined in tripsController -->
          <ui-gmap-search-box template="trips.startpointSearchbox.template" events="trips.startpointSearchbox.events" parentdiv="trips.startpointSearchbox.parentdiv"></ui-gmap-search-box>
          
          <ui-gmap-search-box template="trips.endpointSearchbox.template" events="trips.endpointSearchbox.events" parentdiv="trips.endpointSearchbox.parentdiv"></ui-gmap-search-box>

          <ui-gmap-markers models="trips.markers" coords="'self'" icon="'icon'"></ui-gmap-markers>

          <ui-gmap-polyline ng-repeat="p in trips.polylines track by $index" path="p.path" stroke="p.stroke" visible='p.visible' geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>

        </ui-gmap-google-map>

      <!-- <div id="map">
        
      </div> -->
      </div>
    </div>
  </div>
</div>

