<div>
  <div class="container-fluid">
    <div class="row">
      <div id="sidebar-container" class="col-sm-3 sidebar">
        <div id="sidebar-navs">
          <ul class="nav navbar-nav navbar-left">
            <li ng-show="users.checkLoggedIn()">
              <a href="#" ng-click="trips.getTrips()" ui-sref="viewTrips">View trips</a>
            </li>
          </ul> 
          <ul class="nav navbar-nav navbar-left">
            <li ng-show="users.checkLoggedIn()">
              <a href="#" ng-click="trips.showCreateTripForm()" ui-sref="newTrip">New trip</a>
            </li>
          </ul>
        </div>

        <div class="sidebar-content">
          <ul class="media-list">
            <li id="tripWell" ng-repeat="trip in trips.allTrips | orderBy : '_id' : true" ng-click="trips.showSingleTrip(trip)">
                <div class="media-body">
                  <h6 class="trip-name">{{ trip.name }}</h6>
                  <p class="tripPoint">{{ trip.startpoint.name }}
                  to {{ trip.endpoint.name }}</p>
                </div>
            </li>
          </ul>  
        </div>       
      </div>

      <div class="col-sm-9">
        <div id="map">      
        <ui-gmap-google-map center='trips.map.center' zoom='trips.map.zoom'>
          <!-- look for configuration (template, events and parentdiv) defined in tripsController -->
          <ui-gmap-search-box template="trips.startpointSearchbox.template" events="trips.startpointSearchbox.events" parentdiv="trips.startpointSearchbox.parentdiv"></ui-gmap-search-box>
          
          <ui-gmap-search-box template="trips.endpointSearchbox.template" events="trips.endpointSearchbox.events" parentdiv="trips.endpointSearchbox.parentdiv"></ui-gmap-search-box>

          <ui-gmap-marker coords="trips.marker.coords" options="trips.marker.options" events="trips.marker.events" idkey="trips.marker.id"></ui-gmap-marker>

          <ui-gmap-polyline ng-repeat="p in trips.polylines track by $index" path="p.path" stroke="p.stroke" visible='p.visible' geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>

        </ui-gmap-google-map>
        
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container-fluid -->
  </div>
</div>
 
 