<div>
  <div class="container-fluid">
    <div class="row">
      <div id="sidebar-container" class="col-sm-3 sidebar">
        <div id="sidebar-navs">
          <ul class="nav navbar-nav navbar-left">
            <li ng-show="users.checkLoggedIn()">
              <a href="#" ng-click="trips.getTrips()" ui-sref="viewTrips">View trips</a>
            </li>
          </ul> 
          <ul class="nav navbar-nav navbar-left">
            <li ng-show="users.checkLoggedIn()">
              <a href="#" ng-click="trips.showCreateTripForm()" ui-sref="newTrip">New trip</a>
            </li>
          </ul>
        </div>

        <div class="sidebar-content">
          <ul class="media-list">
            <li class="tripWell" ng-repeat="trip in trips.allTrips | orderBy : '_id' : true" ng-click="trips.showSingleTrip(trip)" ui-sref="singleTrip">
                <div class="media-body">
                  <h6 class="trip-name">{{ trip.name }}</h6>
                  <div class="trip-start-container">
                    <div class="trip-flag-container">
                      <img class="trip-icon" src="../images/png/green-pin.png">
                    </div>
                    <p class="tripPoint">{{ trip.startpoint.name }}</p>
                  </div>
                  <div class="trip-arrow-container">
                    <img class="route-icon" src="../images/png/long-arrow.png">
                  </div>
                  <div class="trip-end-container">
                    <div class="trip-flag-container">
                      <img class="trip-icon" src="../images/png/red-pin.png">
                    </div>
                    <p class="tripPoint">{{ trip.endpoint.name }}</p>
                  </div>
                </div>
            </li>
          </ul>  
        </div>       
      </div>

      <div class="col-sm-9">
        <div id="map" ng-controller="UserMapsController as maps">    
          <ui-gmap-google-map center='maps.map.center' zoom='maps.map.zoom'>
            <ui-gmap-marker coords="maps.marker.coords" options="maps.marker.options" events="maps.marker.events" idkey="maps.marker.id"></ui-gmap-marker>

          </ui-gmap-google-map>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container-fluid -->
  </div>
</div>
 
 